/* Загальні стилі */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Темний фон */
    color: #fff; /* Білий текст */
}

header {
    background: rgba(0, 0, 0, 0.9); /* Темний фон для заголовка */
    padding: 30px 0;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7); /* Тінь для заголовка */
}

header h1 a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Список фільмів */
.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Стиль для фільмів */
.movie {
    background-color: #111; /* Темний фон для карток фільмів */
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2); /* Світле тіньове відображення */
    width: 180px;
    text-align: center;
    transition: all 0.3s ease;
}

.movie img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.movie-title {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* Білий колір для заголовку */
}

/* Підсвічування елементів при наведенні */
.movie:hover {
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5); /* Світліше тіньове відображення */
    transform: scale(1.05);
}

footer {
    background: rgba(0, 0, 0, 0.8); /* Темний фон для футера */
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 0;
}

/* Пошук */
.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-container input[type="text"] {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.search-container input[type="text"]:focus {
    border-color: #ff9800;
    outline: none;
    background-color: #333;
}

/* Кнопка для повернення нагору */
.btn-scroll {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #ff9800;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    display: none;
    transition: all 0.3s ease;
}

.btn-scroll:hover {
    background: #e67e22;
    transform: scale(1.1);
}

/* Стилі для адаптивності */
@media screen and (max-width: 768px) {
    .movie-list {
        flex-direction: column; /* Перехід до вертикального розташування для мобільних */
        align-items: center;
    }

    .movie-image {
        margin-right: 0;
        margin-bottom: 20px; /* Відступ знизу на мобільних */
    }

    .movie-description {
        padding: 20px;
    }

    .btn-scroll {
        font-size: 1.5rem;
        padding: 12px;
    }
}

